@charset "ISO-8859-1";

#tab_new_donne .pieces_decouvre {
	width: 40%;
}

#tab_new_donne .pieces_cache {
	width: 30%;
}

#tab_new_donne .pieces_bonus {
	width: 20%;
}

#tab_new_donne .highlight {
	background-color: #46AAC6;
}

#tab_new_donne td,#tab_new_donne_player .nomj {
	min-height:100px;
	height:100px;
	max-height:100px;
	vertical-align: middle;
	padding: 5px;
}
/*
//////////////////////////////////////////////////////////////////////////////////////
*/
#img_mahjong_piece_map {
	height: 350px;
}

#tab_new_donne .combinaison{
	border:solid 1px black;
	display:table-cell;
}

#tab_new_donne .tab-new-donne-btn-combi{
	display:table-cell;
	min-width:35px;
}


#tab_new_donne .input_piece_new_donne{
	display:table-cell;
	min-width:110px;
}

#tab_new_donne .input_piece_new_donne.input_piece_new_donne_with_image{
	min-width:40px;
}
/*
///////////////////////////////////////////////////////////////////////
*/
.tab-new-donne-btn-combi .glyphicon-minus{
	color:red;
}

.tab-new-donne-btn-combi .glyphicon-plus{
	color:green;
}
/*
//////////////////////////////////////////////////////////////////////
fixer la premiere colonne
*/

#tab_new_donne_player{
	position: absolute;
	/*top: 10px;*/ 
	left: 31px;
	z-index: 40;
	width: 8%;
}

#section_tab_new_donne{
	margin-left: 10%;
}

#tab_new_donne_player tr:nth-child(even),#tab_new_donne_player thead{
	background-color:black;
}